[buildout]
extends =
    base.cfg

parts +=
    supervisor
    dedicated


[supervisor]
recipe = collective.recipe.supervisor
plugins =
    superlance
port = 3900
user = supervisor
password = admin

programs =
    10 controller (stopsignal=INT) ${buildout:bin-directory}/dedicated ${buildout:directory} true


[dedicated]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    ${buildout:directory}/scripts/openttd-controller.py --server=${buildout:bin-directory}/openttd --personal-dir=${buildout:directory}/var/personal $@
output = ${buildout:directory}/bin/dedicated
mode = 755


[openttd]
configure-options +=
    --enable-dedicated
    --enable-console
